In [1]:
import pandas as pd 
import numpy as np 
import re

In [207]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [208]:
df = pd.read_csv('gurgaon_flats.csv',index_col=0)

In [209]:
df.sample(10)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2318,1 BHK Flat in Valley View Estate,flat,valley view estate,0.38,6089.0,624.000000,Super Built up area 624(57.97 sq.m.),1,1,1,not available,"Valley View Estate, Gurgaon, Haryana",11.0,NaN,5 to 10 Year Old,"['HANUMAN MANDIR', 'SHIV MANDIR BALIYAWAS', 'I...",Residential apartment for sell.The property ha...,"['1 Wardrobe', '1 Geyser', '1 AC', '1 Modular ...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Safety5 out of 5', 'Lifestyle4 out of 5', 'E..."
677,3 BHK Flat in Sector 89 Gurgaon,flat,m3m soulitude,1.33,16985.0,783.000000,Built Up area: 1423 (132.2 sq.m.)Carpet area: ...,3,3,3,study room,"S-05/04, Sector 89 Gurgaon, Gurgaon, Haryana",4.0,North-West,Aug-23,"['Vatika Town Square-INXT', 'Sector 86 Road', ...",Right next to the dwarka expressway and within...,NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1109,2 Bedroom House for sale in Sector 31 Gurgaon,house,NaN,4.60,32258.0,1426.002852,Built Up area: 1426 (132.48 sq.m.)Carpet area:...,2,2,2,not available,"Sector 31, Sector 31 Gurgaon, Gurgaon, Haryana",2.0,East,undefined,"['Hanuman Mandir', 'Icici bank ATM', 'State ba...",Best in class property available at sector 31 ...,NaN,NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5..."
1755,3 BHK Flat in Sector 65 Gurgaon,flat,m3m golfestate,5.40,18126.0,2979.000000,Super Built up area 2979(276.76 sq.m.),3,4,3,"study room,servant room","Sector 65 Gurgaon, Gurgaon, Haryana",19.0,North-East,5 to 10 Year Old,"['Sector 54 Chowk Metro Station', 'Sahara Mall...",This 3 bhk apartment is available for sale in ...,"['4 Wardrobe', '7 Fan', '1 Exhaust Fan', '5 Ge...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction5 out of..."
1104,2 BHK Flat in Sector 108 Gurgaon,flat,raheja vedaanta,0.65,4761.0,1365.000000,Super Built up area 1365(126.81 sq.m.),2,2,2,pooja room,"Dwarka Expressway, Sector 108 Gurgaon, Gurgaon...",5.0,East,1 to 5 Year Old,NaN,Available 2 bhk very spacious apartment in rah...,"['2 Wardrobe', '4 Fan', '1 Exhaust Fan', '4 Li...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area4 out of 5', 'Construction4 out of..."
1627,3 BHK Flat in Sector 92 Gurgaon,flat,sare crescent parc royal greens phase 1,0.79,6086.0,1298.000000,Super Built up area 1298(120.59 sq.m.),3,2,2,not available,"Sector 92 Gurgaon, Gurgaon, Haryana",15.0,NaN,0 to 1 Year Old,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...","Situated in sector 92 gurgaon, sare green parc...",[],"['Lift(s)', 'Swimming Pool', 'Park', 'Security...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1266,2 BHK Flat in Sohna,flat,signature global park,0.67,5537.0,1210.000000,Super Built up area 1210(112.41 sq.m.),2,2,3,pooja room,"001, Sohna, Gurgaon, Haryana",4.0,North-East,1 to 5 Year Old,"['Sector 55-56 metro', 'Global city centre', '...","Signature global park in sohna, gurgaon is a r...",NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction5 out of..."
1048,1 BHK Flat in Sector 104 Gurgaon,flat,zara aavaas,0.26,7807.0,333.000000,Built Up area: 301 (27.96 sq.m.),1,1,2,not available,"Ground Floor, Sector 104 Gurgaon, Gurgaon, Har...",0.0,North-East,1 to 5 Year Old,"['Ardee Mall', 'Northern Peripheral Road', 'Mp...",1 bhk ground floor in zara aavaas for sale,"['1 Wardrobe', '2 Fan', '1 Exhaust Fan', '3 Li...","['Security / Fire Alarm', 'Intercom Facility',...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
870,3 BHK Flat in Mehrauli Gurgaon Road,flat,essel towers,2.20,12500.0,1760.000000,Carpet area: 1760 (163.51 sq.m.),3,4,3+,not available,"Mehrauli Gurgaon Road, Mehrauli Gurgaon Road, ...",3.0,NaN,undefined,"['Mg road metro station', 'Iffco chowk metro s...",Best in class property available at mehrauli g...,"['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
3255,3 BHK Flat in Sector 53 Gurgaon,flat,parsvnath exotica,4.80,16580.0,2895.000000,Super Built up area 2895(268.95 sq.m.)Built Up...,3,4,3+,"pooja room,servant room,others","Sector 53 Gurgaon, Gurgaon, Haryana",8.0,North-East,1 to 5 Year Old,"['Sector 53-54 Metro Station', 'Sahara Mall', ...",It is 3 bhk apartment for sell. Sunlight facin...,"['9 Wardrobe', '1 Water Purifier', '4 Fan', '1...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area4 out of 5', 'Construction4 out of..."

In [210]:
df.shape

(3940, 20)

In [211]:
df.duplicated().sum()

0

In [212]:
df.isnull().sum()

property_name         0
property_type         0
society             562
price                 0
price_per_sqft        0
area                  0
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom        0
address              11
floorNum             20
facing             1170
agePossession         1
nearbyLocations     205
description           0
furnishDetails     1026
features            704
rating              448
dtype: int64

In [213]:
df.head(1)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sector 99A Gurgaon,flat,pareena laxmi apartments,0.32,5521.0,580.0,Super Built up area 575(53.42 sq.m.)Carpet are...,2,2,1,not available,"Sector 99A Gurgaon, Gurgaon, Haryana",2.0,NaN,0 to 1 Year Old,"['Dwarka Expy', 'Govt. Sr. Sec. School', 'Exce...",This lovely 2 bhk apartment/flat in sector 99a...,NaN,"['Feng Shui / Vaastu Compliant', 'Lift(s)', 'S...","['Green Area4.5 out of 5', 'Amenities3.5 out o..."

In [214]:
df.insert(loc = 3, column = 'sector', value = df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon', '').str.strip().str.lower())

In [215]:
df.sample(5)

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
602,3 BHK Flat in Nirvana Country,flat,the close north,nirvana country,2.65,11276.0,2350.0,Super Built up area 2605(242.01 sq.m.)Built Up...,3,3,3+,servant room,"Higher Floor, Nirvana Country, Gurgaon, Haryana",3.0,South-East,5 to 10 Year Old,"['Sector 55-56 Metro Station', 'Eros City Squa...","Situated in nirvana country, gurgaon, the clos...",NaN,"['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction4 out of..."
828,3 BHK Flat in Sector 37C Gurgaon,flat,ild grand,sector 37c,1.35,7142.0,1890.0,Built Up area: 1820 (169.08 sq.m.),3,3,0,not available,"Lower Floor With Extra Terrace, Sector 37C Gur...",1.0,NaN,Within 6 months,"['The Esplanade Mall', 'Dwarka Expy, Sector 88...","3 bath, semi-Furnished, 1st floor (Of 24), ild...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment5 out of 5', 'Lifestyle4 out of 5..."
594,3 BHK Flat in Sector 37D Gurgaon,flat,ramprastha the edge towers,sector 37d,1.00,5649.0,1770.0,Super Built up area 1770(164.44 sq.m.),3,3,3+,not available,"Sector 37D Gurgaon, Gurgaon, Haryana",13.0,NaN,5 to 10 Year Old,"['MDS Public School', 'St Pauls School', 'Sunc...",It semi- Furnished wardrobes and modular kitchen,[],"['Power Back-up', 'Intercom Facility', 'Lift(s...","['Green Area4 out of 5', 'Construction4 out of..."
2166,4 BHK Flat in Sector 49 Gurgaon,flat,vatika city,sector 49,3.60,11920.0,3020.0,Carpet area: 3020 (280.57 sq.m.),4,5,3,"pooja room,servant room","Sector 49 Gurgaon, Gurgaon, Haryana",7.0,NaN,5 to 10 Year Old,"['BOB ATM', 'PNB ATM', 'HDFC bank ATM', 'YES b...",All interior work fall celing pop on walls swi...,"['1 Water Purifier', '7 Fan', '1 Exhaust Fan',...","['Intercom Facility', 'Lift(s)', 'Park']","['Green Area5 out of 5', 'Construction4 out of..."
1730,2 BHK Flat in Sector-33 Sohna,flat,godrej nature plus,sector-33 sohna,1.40,9333.0,1500.0,Super Built up area 1500(139.35 sq.m.)Carpet a...,2,2,3,not available,"Sector-33 Sohna, Gurgaon, Haryana",14.0,NaN,Under Construction,"['Signature Global Infinity Mall Sohna', 'Bads...",Garden facing. This property is right on the g...,[],"['Security / Fire Alarm', 'Intercom Facility',...",NaN

In [216]:
df['society'].fillna('independent', inplace = True)

C:\Users\dhruv\AppData\Local\Temp\ipykernel_18588\2071796649.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['society'].fillna('independent', inplace = True)

In [217]:
df[~df['sector'].str.startswith('s')]['sector'].value_counts()

sector
nirvana country                                              52
palam vihar                                                  50
dlf phase 1                                                  43
dlf phase 2                                                  41
laxman vihar                                                 26
dlf phase 4                                                  25
dlf phase 3                                                  21
dlf phase 5                                                  14
rajendra park                                                14
gwal pahari                                                  14
laxman vihar phase 2                                         13
uppals southend                                              12
ashok vihar phase 3 extension                                11
ashok vihar phase 2                                           9
dwarka expressway                                             8
palam vihar extension                                         8
mehrauli  road                                                8
malibu town                                                   8
c block sushant lok phase 1                                   8
new colony                                                    7
mianwali colony                                               7
jacobpura                                                     6
ashok vihar                                                   6
jyoti park                                                    6
rajiv nagar                                                   6
new palam vihar                                               5
ansal plaza                                                   5
dayanand colony                                               5
arjun nagar                                                   5
greenwood city                                                5
manesar                                                       5
chakkarpur                                                    5
ravi nagar                                                    4
bhim nagar                                                    4
adarsh nagar                                                  4
baldev nagar                                                  4
bhondsi                                                       4
imt manesar                                                   4
valley view estate                                            4
devilal colony                                                4
new                                                           4
madanpuri                                                     4
krishna colony                                                4
vishnu garden                                                 4
dharam colony                                                 4
garhi harsaru                                                 4
mg road                                                       3
laxmi garden                                                  3
b block sushant lok phase 1                                   3
gandhi nagar                                                  3
a block sushant lok phase 1                                   3
maruti kunj                                                   3
patel nagar                                                   3
prem nagar                                                    3
ambience island                                               2
new palam vihar phase 1                                       2
hira nagar                                                    2
iffco chowk                                                   2
bissar                                                        2
manohar nagar                                                 2
nars                                                          2
faridabad road                                                2
pratap nagar                                                  2
new palam vihar phase 2                                       2
west rajiv nagar                                              2
new basti                                                     2
acharya puri                                                  2
rajiv chowk                                                   2
rosewood                                                      2
daulatabad                                                    2
bhawani enclave                                               2
mohan nagar                                                   2
block a surya vihar                                           2
mayfield garden                                               2
farukhnagar                                                   2
, delhi ncr                                                   2
golf course road                                              2
lajpat nagar                                                  2
golf course ext road                                          2
near khandsa road                                             1
mahalaxmi garden, rajendra place                              1
rattan garden                                                 1
alipur                                                        1
ram nagar                                                     1
heritage city                                                 1
nirvana country pocket h                                      1
block g sector-57                                             1
jacobpura near sadar bazar                                    1
v block dlf phase 3                                           1
cyber city                                                    1
block h ashok vihar phase iii extension                       1
kheri                                                         1
ashok vihar phase i                                           1
godrej aria , sector 79 ,                                     1
carterpuri village                                            1
new jyoti park                                                1
civil l                                                       1
begampur khatola                                              1
mahavir pura                                                  1
urban estate, sector 5                                        1
park view                                                     1
khandsa                                                       1
near nand hospital                                            1
kanahi                                                        1
vir nagar                                                     1
near euro                                                     1
b1 block sector 57                                            1
ats marigold                                                  1
new colony, sector 7                                          1
huda saraswati vihar                                          1
bptp                                                          1
jat colony,fazilpur/taj nagar road                            1
devi lal colony gali no 12 gurgaon nr omkar public school     1
hsiidc plot sector 1 imt manesar                              1
anand garden, sector-105                                      1
old delhi road, opp sector-14                                 1
laxmna vihar, phase 2                                         1
g block dlf city phase 1                                      1
damdma                                                        1
dhankot                                                       1
part 3 sector 5                                               1
ashok vihar phase 3                                           1
near sector 1 market                                          1
near pataudi chowk                                            1
ravi nager basai road                                         1
bhora kalan                                                   1
om nagar                                                      1
rajiv colony                                                  1
ansal's palam vihar                                           1
pataudi road                                                  1
tekchand nagar                                                1
bhimgarh kheri phase 3                                        1
gopal nagar, garhi ghasita, sonipat                           1
lucknow                                                       1
laxman vihar, railway road,                                   1
garauli kalan                                                 1
hno 13 sagar enclave sura                                     1
Name: count, dtype: int64

In [218]:
df['sector'] = df['sector'].str.replace('nirvana country', 'Sector 50', regex=True)
df['sector'] = df['sector'].str.replace('palam vihar', 'Sector 2', regex=True)
df['sector'] = df['sector'].str.replace('dlf phase 1', 'Sector 26', regex=True)
df['sector'] = df['sector'].str.replace('dlf phase 2', 'Sector 25', regex=True)
df['sector'] = df['sector'].str.replace('laxman vihar', 'Sector 3', regex=True)
df['sector'] = df['sector'].str.replace('dlf phase 4', 'Sector 28', regex=True)
df['sector'] = df['sector'].str.replace('dlf phase 3', 'Sector 24', regex=True)
df['sector'] = df['sector'].str.replace('dlf phase', 'Sector 27', regex=True)
df['sector'] = df['sector'].str.replace('rajendra park', 'Sector 105', regex=True)
df['sector'] = df['sector'].str.replace('gwal pahari', 'Sector 2A', regex=True)
df['sector'] = df['sector'].str.replace('laxman vihar phase 2', 'Sector 3A', regex=True)
df['sector'] = df['sector'].str.replace('uppals southend', 'Sector 49', regex=True)
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension', 'Sector 5', regex=True)
df['sector'] = df['sector'].str.replace('ashok vihar phase 2', 'Sector 4', regex=True)
df['sector'] = df['sector'].str.replace('dwarka expressway', 'Sector 37D', regex=True)
df['sector'] = df['sector'].str.replace('palam vihar extension', 'Sector 23', regex=True)
df['sector'] = df['sector'].str.replace('mehrauli road', 'Sector 14', regex=True)
df['sector'] = df['sector'].str.replace('malibu town', 'Sector 47', regex=True)
df['sector'] = df['sector'].str.replace('c block sushant lok phase 1', 'Sector 43', regex=True)
df['sector'] = df['sector'].str.replace('new colony', 'Sector 7', regex=True)
df['sector'] = df['sector'].str.replace('mianwali colony', 'Sector 12', regex=True)
df['sector'] = df['sector'].str.replace('jacobpura', 'Sector 12A', regex=True)
df['sector'] = df['sector'].str.replace('ashok vihar', 'Sector 5', regex=True)
df['sector'] = df['sector'].str.replace('jyoti park', 'Sector 7', regex=True)
df['sector'] = df['sector'].str.replace('rajiv nagar', 'Sector 13', regex=True)
df['sector'] = df['sector'].str.replace('new palam vihar', 'Sector 110', regex=True)
df['sector'] = df['sector'].str.replace('ansal plaza', 'Sector 22', regex=True)
df['sector'] = df['sector'].str.replace('dayanand colony', 'Sector 6', regex=True)
df['sector'] = df['sector'].str.replace('arjun nagar', 'Sector 8', regex=True)
df['sector'] = df['sector'].str.replace('greenwood city', 'Sector 45', regex=True)
df['sector'] = df['sector'].str.replace('manesar', 'IMT Manesar', regex=True)
df['sector'] = df['sector'].str.replace('chakkarpur', 'Sector 28', regex=True)
df['sector'] = df['sector'].str.replace('ravi nagar', 'Sector 16', regex=True)
df['sector'] = df['sector'].str.replace('bhim nagar', 'Sector 5', regex=True)
df['sector'] = df['sector'].str.replace('adarsh nagar', 'Sector 12', regex=True)
df['sector'] = df['sector'].str.replace('baldev nagar', 'Sector 7', regex=True)
df['sector'] = df['sector'].str.replace('bhondsi', 'Near Sohna Road', regex=True)
df['sector'] = df['sector'].str.replace('imt manesar', 'Sector 1', regex=True)
df['sector'] = df['sector'].str.replace('valley view estate', 'Sector 30', regex=True)
df['sector'] = df['sector'].str.replace('devilal colony', 'Sector 9', regex=True)
df['sector'] = df['sector'].str.replace('madanpuri', 'Sector 7', regex=True)
df['sector'] = df['sector'].str.replace('krishna colony', 'Sector 9A', regex=True)
df['sector'] = df['sector'].str.replace('vishnu garden', 'Sector 37', regex=True)
df['sector'] = df['sector'].str.replace('dharam colony', 'Sector 110', regex=True)
df['sector'] = df['sector'].str.replace('garhi harsaru', 'Sector 99', regex=True)
df['sector'] = df['sector'].str.replace('mg road', 'Sector 25A', regex=True)
df['sector'] = df['sector'].str.replace('laxmi garden', 'Sector 11', regex=True)
df['sector'] = df['sector'].str.replace('gandhi nagar', 'Sector 11', regex=True)
df['sector'] = df['sector'].str.replace('maruti kunj', 'Sector 69', regex=True)
df['sector'] = df['sector'].str.replace('patel nagar', 'Sector 15', regex=True)
df['sector'] = df['sector'].str.replace('prem nagar', 'Sector 13', regex=True)
df['sector'] = df['sector'].str.replace('ambience island', 'Near Cyber City', regex=True)
df['sector'] = df['sector'].str.replace('iffco chowk', 'Sector 29', regex=True)
df['sector'] = df['sector'].str.replace('golf course road', 'Sector 42', regex=True)
df['sector'] = df['sector'].str.replace('golf course ext road', 'Sector 58', regex=True)
df['sector'] = df['sector'].str.replace('kanahi', 'Sector 32', regex=True)
df['sector'] = df['sector'].str.replace('urban estate, sector 5', 'Sector 5', regex=True)
df['sector'] = df['sector'].str.replace('mayfield garden', 'Sector 50', regex=True)
df['sector'] = df['sector'].str.replace('pataudi road', 'Sector 86', regex=True)
df['sector'] = df['sector'].str.replace('tekchand nagar', 'Sector 39', regex=True)
df['sector'] = df['sector'].str.replace('ansal\'s palam vihar', 'Sector 2A', regex=True)
df['sector'] = df['sector'].str.replace('heritage city', 'Sector 25', regex=True)

In [219]:
df['sector'] = df['sector'].str.lower()

In [220]:
df[~df['sector'].str.startswith('s')]['sector'].value_counts()

sector
mehrauli  road                                               8
new sector 2                                                 5
imt manesar                                                  5
near sohna road                                              4
imt imt manesar                                              4
new                                                          4
b block sushant lok phase 1                                  3
a block sushant lok phase 1                                  3
near cyber city                                              2
west sector 13                                               2
new sector 2 phase 1                                         2
rajiv chowk                                                  2
manohar nagar                                                2
pratap nagar                                                 2
rosewood                                                     2
faridabad road                                               2
nars                                                         2
hira nagar                                                   2
new sector 2 phase 2                                         2
block a surya vihar                                          2
mohan nagar                                                  2
lajpat nagar                                                 2
daulatabad                                                   2
, delhi ncr                                                  2
farukhnagar                                                  2
bissar                                                       2
new basti                                                    2
bhawani enclave                                              2
acharya puri                                                 2
block h sector 5 phase iii extension                         1
near khandsa road                                            1
b1 block sector 57                                           1
mahasector 11, rajendra place                                1
rattan garden                                                1
damdma                                                       1
alipur                                                       1
block g sector-57                                            1
v block sector 24                                            1
vir nagar                                                    1
near sector 1 market                                         1
godrej aria , sector 79 ,                                    1
carterpuri village                                           1
new sector 7                                                 1
civil l                                                      1
begampur khatola                                             1
mahavir pura                                                 1
park view                                                    1
kheri                                                        1
ravi nager basai road                                        1
near euro                                                    1
hsiidc plot sector 1 imt imt manesar                         1
huda saraswati vihar                                         1
khandsa                                                      1
near nand hospital                                           1
ram nagar                                                    1
g block dlf city phase 1                                     1
anand garden, sector-105                                     1
jat colony,fazilpur/taj nagar road                           1
cyber city                                                   1
garauli kalan                                                1
bptp                                                         1
devi lal colony gali no 12 gurgaon nr omkar public school    1
old delhi road, opp sector-14                                1
lucknow                                                      1
laxmna vihar, phase 2                                        1
dhankot                                                      1
part 3 sector 5                                              1
ats marigold                                                 1
near pataudi chowk                                           1
bhora kalan                                                  1
om nagar                                                     1
rajiv colony                                                 1
ansal's sector 2                                             1
bhimgarh kheri phase 3                                       1
gopal nagar, garhi ghasita, sonipat                          1
hno 13 sagar enclave sura                                    1
Name: count, dtype: int64

In [221]:
df['sector'] = df['sector'].str.replace('mehrauli  road', 'Sector 14', regex=True)
df['sector'] = df['sector'].str.replace('new sector 2', 'Sector 2', regex=True)
df['sector'] = df['sector'].str.replace('imt manesar', 'Sector 1', regex=True)
df['sector'] = df['sector'].str.replace('near sohna road', 'Sector 68', regex=True)
df['sector'] = df['sector'].str.replace('imt imt manesar', 'Sector 1', regex=True)
df['sector'] = df['sector'].str.replace('b block sushant lok phase 1', 'Sector 43', regex=True)
df['sector'] = df['sector'].str.replace('a block sushant lok phase 1', 'Sector 43', regex=True)
df['sector'] = df['sector'].str.replace('near cyber city', 'Sector 25', regex=True)
df['sector'] = df['sector'].str.replace('west sector 13', 'Sector 13', regex=True)
df['sector'] = df['sector'].str.replace('new sector 2 phase 1', 'Sector 2', regex=True)
df['sector'] = df['sector'].str.replace('rajiv chowk', 'Sector 29', regex=True)
df['sector'] = df['sector'].str.replace('manohar nagar', 'Sector 12', regex=True)
df['sector'] = df['sector'].str.replace('pratap nagar', 'Sector 8', regex=True)
df['sector'] = df['sector'].str.replace('rosewood', 'Sector 49', regex=True)
df['sector'] = df['sector'].str.replace('faridabad road', 'Sector 37', regex=True)
df['sector'] = df['sector'].str.replace('nars', 'Sector 1', regex=True)
df['sector'] = df['sector'].str.replace('hira nagar', 'Sector 2', regex=True)
df['sector'] = df['sector'].str.replace('new sector 2 phase 2', 'Sector 2', regex=True)
df['sector'] = df['sector'].str.replace('block a surya vihar', 'Sector 30', regex=True)
df['sector'] = df['sector'].str.replace('mohan nagar', 'Sector 11', regex=True)
df['sector'] = df['sector'].str.replace('lajpat nagar', 'Sector 15', regex=True)
df['sector'] = df['sector'].str.replace('daulatabad', 'Sector 103', regex=True)
df['sector'] = df['sector'].str.replace(', delhi ncr', 'Sector 22', regex=True)
df['sector'] = df['sector'].str.replace('farukhnagar', 'Sector 95', regex=True)
df['sector'] = df['sector'].str.replace('bissar', 'Sector 91', regex=True)
df['sector'] = df['sector'].str.replace('new basti', 'Sector 32', regex=True)
df['sector'] = df['sector'].str.replace('bhawani enclave', 'Sector 9', regex=True)
df['sector'] = df['sector'].str.replace('acharya puri', 'Sector 4', regex=True)
df['sector'] = df['sector'].str.replace('block h sector 5 phase iii extension', 'Sector 5', regex=True)
df['sector'] = df['sector'].str.replace('near khandsa road', 'Sector 37', regex=True)
df['sector'] = df['sector'].str.replace('b1 block sector 57', 'Sector 57', regex=True)
df['sector'] = df['sector'].str.replace('rattan garden', 'Sector 37', regex=True)
df['sector'] = df['sector'].str.replace('damdma', 'Sector 104', regex=True)
df['sector'] = df['sector'].str.replace('alipur', 'Sector 108', regex=True)
df['sector'] = df['sector'].str.replace('block g sector-57', 'Sector 57', regex=True)
df['sector'] = df['sector'].str.replace('v block sector 24', 'Sector 24', regex=True)
df['sector'] = df['sector'].str.replace('vir nagar', 'Sector 6', regex=True)
df['sector'] = df['sector'].str.replace('near sector 1 market', 'Sector 1', regex=True)
df['sector'] = df['sector'].str.replace('godrej aria , sector 79 ,', 'Sector 79', regex=True)
df['sector'] = df['sector'].str.replace('carterpuri village', 'Sector 23', regex=True)
df['sector'] = df['sector'].str.replace('new sector 7', 'Sector 7', regex=True)
df['sector'] = df['sector'].str.replace('civil l', 'Sector 9A', regex=True)
df['sector'] = df['sector'].str.replace('begampur khatola', 'Sector 35', regex=True)
df['sector'] = df['sector'].str.replace('mahavir pura', 'Sector 37', regex=True)
df['sector'] = df['sector'].str.replace('park view', 'Sector 48', regex=True)
df['sector'] = df['sector'].str.replace('kheri', 'Sector 88', regex=True)
df['sector'] = df['sector'].str.replace('ravi nager basai road', 'Sector 9', regex=True)
df['sector'] = df['sector'].str.replace('near euro', 'Sector 33', regex=True)
df['sector'] = df['sector'].str.replace('hsiidc plot sector 1 imt imt manesar', 'Sector 1', regex=True)
df['sector'] = df['sector'].str.replace('huda saraswati vihar', 'Sector 10A', regex=True)
df['sector'] = df['sector'].str.replace('khandsa', 'Sector 37', regex=True)
df['sector'] = df['sector'].str.replace('near nand hospital', 'Sector 5', regex=True)
df['sector'] = df['sector'].str.replace('ram nagar', 'Sector 11', regex=True)
df['sector'] = df['sector'].str.replace('g block dlf city phase 1', 'Sector 26', regex=True)
df['sector'] = df['sector'].str.replace('anand garden, sector-105', 'Sector 105', regex=True)
df['sector'] = df['sector'].str.replace('jat colony,fazilpur/taj nagar road', 'Sector 72', regex=True)
df['sector'] = df['sector'].str.replace('cyber city', 'Sector 25A', regex=True)
df['sector'] = df['sector'].str.replace('garauli kalan', 'Sector 107', regex=True)
df['sector'] = df['sector'].str.replace('bptp', 'Sector 37D', regex=True)
df['sector'] = df['sector'].str.replace('devi lal colony gali no 12 gurgaon nr omkar public school', 'Sector 9', regex=True)
df['sector'] = df['sector'].str.replace('old delhi road, opp sector-14', 'Sector 14', regex=True)
df['sector'] = df['sector'].str.replace('lucknow', 'Sector 48', regex=True)
df['sector'] = df['sector'].str.replace('laxmna vihar, phase 2', 'Sector 3A', regex=True)
df['sector'] = df['sector'].str.replace('dhankot', 'Sector 102', regex=True)
df['sector'] = df['sector'].str.replace('ats marigold', 'Sector 89A', regex=True)
df['sector'] = df['sector'].str.replace('near pataudi chowk', 'Sector 86', regex=True)
df['sector'] = df['sector'].str.replace('bhora kalan', 'Sector 95A', regex=True)
df['sector'] = df['sector'].str.replace('ansal\'s sector 2', 'Sector 2', regex=True)
df['sector'] = df['sector'].str.replace('bhimgarh kheri phase 3', 'Sector 10', regex=True)
df['sector'] = df['sector'].str.replace('hno 13 sagar enclave sura', 'Sector 108', regex=True)
df['sector'] = df['sector'].str.replace('imt sector 1', 'Sector 1', regex=True)

In [222]:
df['sector'] = df['sector'].str.lower().str.strip()

In [223]:
df[~df['sector'].str.startswith('s')]['sector'].value_counts()

sector
new                                    4
imt sector 1                           4
hsiidc plot sector 1 imt sector 1      1
part 3 sector 5                        1
om nagar                               1
rajiv colony                           1
bhimgarh sector 88 phase 3             1
gopal nagar, garhi ghasita, sonipat    1
mahasector 11, rajendra place          1
Name: count, dtype: int64

In [224]:
df['sector'] = df['sector'].str.replace('hsiidc plot sector 1 sector 1', 'sector 1', regex=True)
df['sector'] = df['sector'].str.replace('hsiidc plot sector 1 sector 1', 'sector 1', regex=True)
df['sector'] = df['sector'].str.replace('part 3 sector 5', 'sector 5', regex=True)
df['sector'] = df['sector'].str.replace('om nagar', 'sector 11', regex=True)
df['sector'] = df['sector'].str.replace('rajiv colony', 'sector 33', regex=True)
df['sector'] = df['sector'].str.replace('bhimgarh sector 88 phase 3', 'sector 88', regex=True)
df['sector'] = df['sector'].str.replace('gopal nagar, garhi ghasita, sonipat', 'sector 12', regex=True)
df['sector'] = df['sector'].str.replace('mahasector 11, rajendra place', 'sector 11', regex=True)

In [225]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sector 99A Gurgaon,flat,pareena laxmi apartments,sector 99a,0.32,5521.0,580.000000,Super Built up area 575(53.42 sq.m.)Carpet are...,2,2,1,not available,"Sector 99A Gurgaon, Gurgaon, Haryana",2.0,NaN,0 to 1 Year Old,"['Dwarka Expy', 'Govt. Sr. Sec. School', 'Exce...",This lovely 2 bhk apartment/flat in sector 99a...,NaN,"['Feng Shui / Vaastu Compliant', 'Lift(s)', 'S...","['Green Area4.5 out of 5', 'Amenities3.5 out o..."
1,3 BHK Flat in Sector 56 Gurgaon,flat,kiran residency,sector 56,1.55,7750.0,2000.000000,Super Built up area 2000(185.81 sq.m.),3,3,3,servant room,"Middle Floor, Sector 56 Gurgaon, Gurgaon, Haryana",5.0,North,10+ Year Old,"['Sector metro station', 'Sector metro station...",Check out this 3 bhk apartment for sale in kir...,"['3 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Ge...","['Security / Fire Alarm', 'Intercom Facility',...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
2,2 BHK Flat in Sector 108 Gurgaon,flat,raheja vedaanta,sector 108,1.00,4854.0,2060.000000,Built Up area: 2060 (191.38 sq.m.)Carpet area:...,2,2,2,not available,"Sector 108, Sector 108 Gurgaon, Gurgaon, Haryana",0.0,North,undefined,NaN,Best in class property available at sector 108...,NaN,NaN,"['Green Area4 out of 5', 'Construction4 out of..."
3,3 BHK Flat in Sector 104 Gurgaon,flat,ats triumph,sector 104,1.83,7991.0,2290.000000,Super Built up area 2290(212.75 sq.m.)Built Up...,3,4,3+,servant room,"4102, Sector 104 Gurgaon, Gurgaon, Haryana",10.0,North,1 to 5 Year Old,"['IFFCO Chowk Metro Station', 'The Esplanade M...","Ats triumph in sector-104, gurgaon is a ready-...","['1 Wardrobe', '11 Light', '5 AC', '1 Modular ...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area4 out of 5', 'Construction5 out of..."
4,6 Bedroom House for sale in Nirvana Country,house,independent,sector 50,13.20,27155.0,4860.983244,Built Up area: 4861 (451.6 sq.m.),6,6,0,not available,"Nirvana Country, Sector 50, Nirvana Country, G...",2.0,NaN,undefined,NaN,6bhk residential house for resale in nirvana c...,NaN,NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [226]:
df[df['sector'] == 'new']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
483,4 BHK Flat in New Gurgaon,flat,sare homes,new,0.85,4786.0,1776.0,Super Built up area 1776(165 sq.m.),4,4,3,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN
500,4 BHK Flat in New Gurgaon,flat,dlf 76,new,4.00,11428.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4,4,2,"study room,servant room","New Gurgaon, Gurgaon, Haryana",4.0,NaN,Jun-27,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN
809,2 BHK Flat in New Gurgaon,flat,takshila heights sector 37 c,new,0.67,5583.0,1200.0,Super Built up area 1200(111.48 sq.m.),2,2,2,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN
3685,2 BHK Flat in New Gurgaon,flat,green court,new,0.38,5507.0,690.0,Carpet area: 690 (64.1 sq.m.),2,2,1,not available,"New Gurgaon, Gurgaon, Haryana",7.0,NaN,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN

In [227]:
df[df['society'] == 'sare homes']['sector'] = df[df['society'] == 'sare homes']['sector'].str.replace('new', 'sector 92')

C:\Users\dhruv\AppData\Local\Temp\ipykernel_18588\339473534.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['society'] == 'sare homes']['sector'] = df[df['society'] == 'sare homes']['sector'].str.replace('new', 'sector 92')

In [228]:
df[df['society'] == 'dlf 76']['sector']['sector'] = df[df['society'] == 'dlf 76']['sector'].str.replace('new', 'sector 76')
df[df['society'] == 'takshila heights sector 37 c']['sector'] = df[df['society'] == 'takshila heights sector 37 c']['sector'].str.replace('new', 'sector 37c')
df[df['society'] == 'green court']['sector'] = df[df['society'] == 'green court']['sector'].str.replace('new', 'sector 90')

C:\Users\dhruv\AppData\Local\Temp\ipykernel_18588\2586139777.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['society'] == 'dlf 76']['sector']['sector'] = df[df['society'] == 'dlf 76']['sector'].str.replace('new', 'sector 76')
C:\Users\dhruv\AppData\Local\Temp\ipykernel_18588\2586139777.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['society'] == 'takshila heights sector 37 c']['sector'] = df[df['society'] == 'takshila heights sector 37 c']['sector'].str.replace('new', 'sector 37c')
C:\Users\dhruv\AppData\Local\Temp\ipykernel_18588\2586139777.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['society'] == 'green court']['sector'] = df[df['society'] == 'green court']['sector'].str.replace('new', 'sector 90')

In [229]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sector 99A Gurgaon,flat,pareena laxmi apartments,sector 99a,0.32,5521.0,580.000000,Super Built up area 575(53.42 sq.m.)Carpet are...,2,2,1,not available,"Sector 99A Gurgaon, Gurgaon, Haryana",2.0,NaN,0 to 1 Year Old,"['Dwarka Expy', 'Govt. Sr. Sec. School', 'Exce...",This lovely 2 bhk apartment/flat in sector 99a...,NaN,"['Feng Shui / Vaastu Compliant', 'Lift(s)', 'S...","['Green Area4.5 out of 5', 'Amenities3.5 out o..."
1,3 BHK Flat in Sector 56 Gurgaon,flat,kiran residency,sector 56,1.55,7750.0,2000.000000,Super Built up area 2000(185.81 sq.m.),3,3,3,servant room,"Middle Floor, Sector 56 Gurgaon, Gurgaon, Haryana",5.0,North,10+ Year Old,"['Sector metro station', 'Sector metro station...",Check out this 3 bhk apartment for sale in kir...,"['3 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Ge...","['Security / Fire Alarm', 'Intercom Facility',...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
2,2 BHK Flat in Sector 108 Gurgaon,flat,raheja vedaanta,sector 108,1.00,4854.0,2060.000000,Built Up area: 2060 (191.38 sq.m.)Carpet area:...,2,2,2,not available,"Sector 108, Sector 108 Gurgaon, Gurgaon, Haryana",0.0,North,undefined,NaN,Best in class property available at sector 108...,NaN,NaN,"['Green Area4 out of 5', 'Construction4 out of..."
3,3 BHK Flat in Sector 104 Gurgaon,flat,ats triumph,sector 104,1.83,7991.0,2290.000000,Super Built up area 2290(212.75 sq.m.)Built Up...,3,4,3+,servant room,"4102, Sector 104 Gurgaon, Gurgaon, Haryana",10.0,North,1 to 5 Year Old,"['IFFCO Chowk Metro Station', 'The Esplanade M...","Ats triumph in sector-104, gurgaon is a ready-...","['1 Wardrobe', '11 Light', '5 AC', '1 Modular ...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area4 out of 5', 'Construction5 out of..."
4,6 Bedroom House for sale in Nirvana Country,house,independent,sector 50,13.20,27155.0,4860.983244,Built Up area: 4861 (451.6 sq.m.),6,6,0,not available,"Nirvana Country, Sector 50, Nirvana Country, G...",2.0,NaN,undefined,NaN,6bhk residential house for resale in nirvana c...,NaN,NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [236]:
df[~df['sector'].str.contains('sector')]['sector'].value_counts()

sector
sohna                  163
sushant lok phase 1     31
sushant lok phase 3     16
sohna road              12
south city 1             9
surat nagar 1            7
sushant lok phase 2      5
subhash nagar            5
saraswati vihar          5
shivaji nagar            4
suncity                  4
new                      4
shivpuri                 4
surya vihar              4
sushant lok              2
sispal vihar             2
shankar vihar            2
surat nagar              2
samaspur                 2
sheetla colony           2
surat nagar phase 2      2
shakti nagar             2
shanti nagar             2
sohna  road              2
south city               1
sadar bazar              1
saraswati enclave        1
shivji park colony       1
sultanpur                1
sai kunj                 1
Name: count, dtype: int64

In [237]:

df['sector'] = df['sector'].str.replace('dlf 76', 'Sector 76', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('sohna', 'Sector 48', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('sushant lok phase 1', 'Sector 43', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('sushant lok phase 3', 'Sector 57', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('sohna road', 'Sector 47', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('south city 1', 'Sector 40', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('surat nagar 1', 'Sector 24', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('sushant lok phase 2', 'Sector 57A', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('subhash nagar', 'Sector 9', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('saraswati vihar', 'Sector 8', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('shivaji nagar', 'Sector 13', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('suncity', 'Sector 54', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('new', 'Sector 12', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('shivpuri', 'Sector 30', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('surya vihar', 'Sector 9A', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('sushant lok', 'Sector 43', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('sispal vihar', 'Sector 14', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('shankar vihar', 'Sector 7', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('surat nagar', 'Sector 24', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('samaspur', 'Sector 49', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('sheetla colony', 'Sector 35', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('surat nagar phase 2', 'Sector 25', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('shakti nagar', 'Sector 16', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('shanti nagar', 'Sector 11', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('sohna  road', 'Sector 47', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('south city', 'Sector 40', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('sadar bazar', 'Sector 14', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('saraswati enclave', 'Sector 6', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('shivji park colony', 'Sector 18', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('sultanpur', 'Sector 65', regex=True).str.lower()
df['sector'] = df['sector'].str.replace('sai kunj', 'Sector 22', regex=True).str.lower()

In [247]:
df['sector'].value_counts()

sector
sector 48              235
sector 102             114
sector 85              110
sector 92              104
sector 69               97
sector 65               91
sector 81               90
sector 90               90
sector 109              88
sector 79               81
sector 37d              77
sector 2                75
sector 83               69
sector 86               69
sector 104              67
sector 50               67
sector 89               64
sector 107              61
sector 108              60
sector 95               59
sector 56               57
sector 43               55
sector 3                55
sector 70a              54
sector 70               53
sector 37c              53
sector 49               52
sector 84               51
sector 26               51
sector-33 sector 48     51
sector 67               48
sector 103              47
sector 25               44
sector 113              43
sector 1                43
sector 66               42
sector 61               42
sector 82               42
sector 106              38
sector 7                36
sector 28               35
sector 24               35
sector 68               34
sector 5                34
sector 99a              32
sector 54               31
sector 72               30
sector 77               29
sector 22               28
sector 71               27
sector 14               27
sector 57               26
sector 112              24
sector 12               23
sector 110              23
sector 88a              23
sector 67a              22
sector 33               22
sector 111              22
sector 105              21
sector 4                21
sector 82a              20
sector 99               20
sector 9a               20
sector 91               19
sector 47               19
sector 11               19
sector 63a              18
sector 40               18
sector 78               18
sector 9                18
sector 74               18
sector 27               17
sector 62               17
sector 13               16
sector 63               15
sector 8                15
sector 30               15
sector 60               15
sector 52               14
sector 53               14
sector 76               14
sector 2a               14
sector 46               13
sector 36a              13
sector 39               13
sector 15               12
sector 38               12
sector 31               12
sector 6                11
sector 93               11
sector 37               10
sector 95a              10
sector 12a              10
sector 58                9
sector 55                9
sector 10a               9
sector 45                8
sector 59                8
sector 36 sector 48      7
sector 51                7
sector 16                6
sector 80                5
sector 23a               5
sector 3a                5
sector 57a               5
sector 32                5
sector 17                4
sector 36                4
sector 23                4
sector 29                4
sector 25a               4
sector 35                3
sector 73                3
sector 88b               3
sector 17a               3
sector 42                3
sector 17b               3
sector 21                3
sector-2 sector 48       2
sector-11 sector 48      2
sector 41                2
sector 88                2
sector-5 sector 48       1
sector 18                1
sector 9b                1
sector 37a               1
sector 89a               1
sector-35 sector 48      1
sector 17c               1
sector 37b               1
sector-5 sector 35       1
Name: count, dtype: int64

In [242]:
df['sector'] = df['sector'].str.strip().str.replace('sector 5 chowk', 'sector 5')
df['sector'] = df['sector'].str.strip().str.replace('sector 3, railway road,', 'sector 3')
df['sector'] = df['sector'].str.strip().str.replace('sector 7, sector 7', 'sector 7')
df['sector'] = df['sector'].str.strip().str.replace('hsiidc plot sector 1 imt sector 1', 'sector 1')
df['sector'] = df['sector'].str.strip().str.replace('saroop garden sector 105', 'sector 105')
df['sector'] = df['sector'].str.strip().str.replace('sector 21a faridabad', 'sector 21')
df['sector'] = df['sector'].str.strip().str.replace('sector 5 phase i', 'sector 5')
df['sector'] = df['sector'].str.strip().str.replace('sector-7 hous', 'sector 7')
df['sector'] = df['sector'].str.strip().str.replace('sector 4 urban estate', 'sector 4')

In [244]:
df['sector'] = df['sector'].str.strip().str.replace('sector 1 imt sector 1', 'sector 1')
df['sector'] = df['sector'].str.strip().str.replace('sector 27 5', 'sector 27')
df['sector'] = df['sector'].str.strip().str.replace('sector 3 phase 2', 'sector 3')
df['sector'] = df['sector'].str.strip().str.replace('sector 48 road', 'sector 48')
df['sector'] = df['sector'].str.strip().str.replace('sector 1a imt sector 1', 'sector 1')
df['sector'] = df['sector'].str.strip().str.replace('sector 2 extension', 'sector 2')
df['sector'] = df['sector'].str.strip().str.replace('sector 89 a', 'sector 89')
df['sector'] = df['sector'].str.strip().str.replace('imt sector 1', 'sector 1')
df['sector'] = df['sector'].str.strip().str.replace('sector 110 a', 'sector 110')
df['sector'] = df['sector'].str.strip().str.replace('sector 2 phase 1', 'sector 2')

In [246]:
df['sector'] = df['sector'].str.strip().str.replace('sec 3 bhim vihar part 1 bhimgher sector 88', 'sector 3')
df['sector'] = df['sector'].str.strip().str.replace('sector 5 phase 3', 'sector 5')
df['sector'] = df['sector'].str.strip().str.replace('sector 50 pocket h', 'sector 50')
df['sector'] = df['sector'].str.strip().str.replace('sector 12a near sector 14', 'sector 12')
df['sector'] = df['sector'].str.strip().str.replace('sector 48  road', 'sector 48')
df['sector'] = df['sector'].str.strip().str.replace('sector 24 phase 2', 'sector 24')
df['sector'] = df['sector'].str.strip().str.replace('sector 15 part 2', 'sector 15')
df['sector'] = df['sector'].str.strip().str.replace('sector 15 part 1', 'sector 15')
df['sector'] = df['sector'].str.strip().str.replace('sector 2 phase 2', 'sector 2')

In [249]:
df['sector'] = df['sector'].str.replace(r'(\d+)[a-zA-Z]*', r'\1', regex=True)

In [265]:
df['sector'].value_counts()

sector
sector 48     235
sector 37     142
sector 102    114
sector 85     110
sector 70     107
sector 92     104
sector 69      97
sector 65      91
sector 2       91
sector 81      90
sector 90      90
sector 109     88
sector 79      81
sector 33      73
sector 67      70
sector 83      69
sector 86      69
sector 95      69
sector 104     67
sector 50      67
sector 89      65
sector 82      62
sector 107     61
sector 108     60
sector 3       60
sector 56      57
sector 43      55
sector 49      52
sector 99      52
sector 84      51
sector 26      51
sector 25      48
sector 103     47
sector 1       43
sector 113     43
sector 66      42
sector 61      42
sector 9       39
sector 106     38
sector 5       36
sector 7       36
sector 28      35
sector 24      35
sector 68      34
sector 12      33
sector 63      33
sector 57      31
sector 54      31
sector 72      30
sector 77      29
sector 22      28
sector 88      28
sector 14      27
sector 71      27
sector 36      24
sector 112     24
sector 110     23
sector 111     22
sector 11      21
sector 4       21
sector 105     21
sector 47      19
sector 91      19
sector 40      18
sector 78      18
sector 74      18
sector 62      17
sector 27      17
sector 13      16
sector 60      15
sector 8       15
sector 30      15
sector 76      14
sector 53      14
sector 52      14
sector 46      13
sector 39      13
sector 31      12
sector 15      12
sector 38      12
sector 93      11
sector 17      11
sector 6       11
sector 55       9
sector 23       9
sector 10       9
sector 58       9
sector 59       8
sector 45       8
sector 51       7
sector 16       6
sector 80       5
sector 32       5
sector 29       4
sector 35       4
sector 42       3
sector 73       3
sector 21       3
sector 41       2
sector 18       1
Name: count, dtype: int64

In [264]:
df['sector'] = df['sector'].str.replace('sector-33 sector 48', 'sector 33')
df['sector'] = df['sector'].str.replace('sector 36 sector 48', 'sector 36')
df['sector'] = df['sector'].str.replace('sector-2 sector 48', 'sector 2')
df['sector'] = df['sector'].str.replace('sector-11 sector 48', 'sector 11')
df['sector'] = df['sector'].str.replace('sector-35 sector 48', 'sector 35')
df['sector'] = df['sector'].str.replace('sector-5 sector 48', 'sector 5')
df['sector'] = df['sector'].str.replace('sector-5 sector 35', 'sector 5')

In [268]:
df.sample(2)

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
966,3 BHK Flat in Sector 102 Gurgaon,flat,conscient heritage max,sector 102,1.75,9011.0,1942.0,Super Built up area 1942(180.42 sq.m.),3,4,3+,servant room,"N/a, Sector 102 Gurgaon, Gurgaon, Haryana",13.0,North,1 to 5 Year Old,"['Huda Metro Station', 'Ocus Medley Mall', 'Th...",Located in the popular residential address of ...,"['2 Wardrobe', '4 Fan', '2 Geyser', '1 Stove',...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction5 out of..."
2317,4 BHK Flat in Sector 108 Gurgaon,flat,experion the heartsong,sector 108,2.29,8240.0,2779.0,Built Up area: 2779 (258.18 sq.m.),4,5,3+,servant room,"Sector 108 Gurgaon, Gurgaon, Haryana",8.0,South,1 to 5 Year Old,"['Galleria 108 Mall', 'Dwarka Expressway', 'Ce...","Located at sector 108, gurgaon\nLand area 15.0...","['1 Stove', '5 AC', '1 Modular Kitchen', '1 Ch...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction4 out of..."

In [269]:
df.drop(columns = ['property_name','address','description','rating'], inplace=True)

In [270]:
df.sample(5)

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
1305,house,independent,sector 39,1.70,17980.0,945.494994,Plot area 900(83.61 sq.m.),2,2,3+,"store room,servant room",3.0,NaN,5 to 10 Year Old,"['Rajiv Chowk Mosque', 'State bank of india AT...","['3 Wardrobe', '3 Fan', '5 Light', 'No AC', 'N...","['Water Storage', 'No open drainage around', '..."
3707,flat,prime habitat,sector 99,0.27,5432.0,497.000000,Carpet area: 497 (46.17 sq.m.),2,2,1,not available,4.0,North-East,0 to 1 Year Old,"['The Hive Mall', 'Omaxe Gurgaon Mall', 'Gurug...",[],['Visitor Parking']
3227,flat,la vida by tata housing,sector 113,2.40,10825.0,2217.000000,Super Built up area 2217(205.97 sq.m.)Built Up...,3,4,3+,servant room,5.0,North-East,1 to 5 Year Old,"['Dwarka Sector 21', 'Pacific D21 Mall', 'Bajg...","['1 Geyser', '1 AC', 'No Bed', 'No Chimney', '...","['Feng Shui / Vaastu Compliant', 'Security / F..."
3127,house,independent,sector 5,3.75,11029.0,3400.126938,Built Up area: 3400 (315.87 sq.m.)Carpet area:...,5,5,3+,not available,3.0,NaN,undefined,NaN,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN
2064,house,signature global city 92,sector 92,0.75,7820.0,959.079284,Built Up area: 959 (89.09 sq.m.),2,2,3,not available,1.0,NaN,undefined,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN

In [271]:
df['area'] = round(df['area'],2)

In [274]:
df['facing'].fillna('not available',inplace=True)

C:\Users\dhruv\AppData\Local\Temp\ipykernel_18588\20986712.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['facing'].fillna('not available',inplace=True)

In [276]:
df.to_csv('final_cleaned_file.csv')