In [22]:
import pandas as pd
import numpy as np 
import regex as re

In [23]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [24]:
df = pd.read_csv("independent-house - independent-house.csv")

In [25]:
df.sample(5)

,property_name,link,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
1045,4 Bedroom House for sale in Sector 48 Gurgaon,https://www.99acres.com/4-bhk-bedroom-independ...,Vipul Tatvam Villa,7.8 Crore,"₹ 23,148/sq.ft.",(301 sq.m.) Plot Area,Plot area 360(301.01 sq.m.),4 Bedrooms,4 Bathrooms,3+ Balconies,"Pooja Room,Study Room,Servant Room,Store Room","Sector 48 Gurgaon, Gurgaon, Haryana",2 Floors,North-East,1 to 5 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...","Tatvam villas, spread over an area of 50 acres...","['1 Water Purifier', '7 Fan', '1 Exhaust Fan',...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Safety4 out of 5', ...",R61915240
1059,4 Bedroom House for sale in DLF Phase 1,https://www.99acres.com/4-bhk-bedroom-independ...,NaN,4 Crore,"₹ 29,630/sq.ft.",(125 sq.m.) Plot Area,Plot area 150(125.42 sq.m.),4 Bedrooms,4 Bathrooms,3 Balconies,Store Room,"DLF Phase 1, Gurgaon, Haryana",2 Floors,North,10+ Year Old,"['Guru dronacharya metro station', 'Dlf phase ...",150 sqyd villa available for sale in dlf phase...,"['3 Fan', '6 Light', 'No AC', 'No Bed', 'No Ch...","['Private Garden / Terrace', 'Water Storage', ...","['Environment5 out of 5', 'Safety5 out of 5', ...",V66556640
61,8 Bedroom House for sale in B1 Block Sector 57...,https://www.99acres.com/8-bhk-bedroom-independ...,NaN,NaN,"₹ 25,535/sq.ft.",(135 sq.m.) Plot Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
849,5 Bedroom House for sale in Palam Vihar,https://www.99acres.com/5-bhk-bedroom-independ...,NaN,6 Crore,"₹ 24,691/sq.ft.",(226 sq.m.) Plot Area,Plot area 270(225.75 sq.m.),5 Bedrooms,6 Bathrooms,3+ Balconies,"Pooja Room,Study Room,Others","Palam Vihar, Gurgaon, Haryana",3 Floors,East,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Very nicely built up independent duplex house ...,"['7 Wardrobe', '12 Fan', '1 Exhaust Fan', '7 G...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle5 out of 5...",B67592164
951,4 Bedroom House for sale in Sector 66 Gurgaon,https://www.99acres.com/4-bhk-bedroom-independ...,Emaar MGF Marbella,18 Crore,"₹ 55,556/sq.ft.",(301 sq.m.) Plot Area,Plot area 360(301.01 sq.m.),4 Bedrooms,4 Bathrooms,3+ Balconies,"Pooja Room,Study Room,Servant Room","B10, Sector 66 Gurgaon, Gurgaon, Haryana",3 Floors,East,5 to 10 Year Old,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...",Check out this 4 bhk house for sale in sector ...,"['1 Water Purifier', '16 Fan', '1 Fridge', '1 ...","['High Ceiling Height', 'Maintenance Staff', '...","['Environment3 out of 5', 'Safety4 out of 5', ...",T69288954

# basic preprocessing

In [26]:
df.drop(columns=['link','property_id'], inplace=True)

In [51]:
df.duplicated().sum()

13

In [52]:
df.drop_duplicates(inplace=True)

In [53]:
df.shape

(945, 19)

In [28]:
df.isnull().sum()

property_name        0
society            624
price              127
rate                41
area                 0
areaWithType       108
bedRoom            108
bathroom           108
balcony            108
additionalRoom     506
address             64
noOfFloor          128
facing             421
agePossession      108
nearbyLocations    182
description         59
furnishDetails     352
features           421
rating             188
dtype: int64

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    1095 non-null   object
 1   society          471 non-null    object
 2   price            968 non-null    object
 3   rate             1054 non-null   object
 4   area             1095 non-null   object
 5   areaWithType     987 non-null    object
 6   bedRoom          987 non-null    object
 7   bathroom         987 non-null    object
 8   balcony          987 non-null    object
 9   additionalRoom   589 non-null    object
 10  address          1031 non-null   object
 11  noOfFloor        967 non-null    object
 12  facing           674 non-null    object
 13  agePossession    987 non-null    object
 14  nearbyLocations  913 non-null    object
 15  description      1036 non-null   object
 16  furnishDetails   743 non-null    object
 17  features         674 non-null    object
 18  rating           907 non-null    object
dtypes: object(19)
memory usage: 162.7+ KB

In [30]:
df.sample(5)

,property_name,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
378,5 Bedroom House for sale in Sector 82A Gurgaon,Vatika Sovereign Next,3.85 Crore,"₹ 7,500/sq.ft.",(478 sq.m.) Built-up Area,Built Up area: 5140 (477.52 sq.m.),5 Bedrooms,6 Bathrooms,3+ Balconies,NaN,"Sector 82a, Sector 82A Gurgaon, Gurgaon, Haryana",6 Floors,NaN,undefined,"['Orris Community Center', 'Petrol Pump Indian...",Penthouse is available for sale. It has covere...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5..."
791,3 Bedroom House for sale in Palam Vihar,NaN,1.15 Crore,"₹ 19,360/sq.ft.",(55 sq.m.) Plot Area,Plot area 66(55.18 sq.m.),3 Bedrooms,3 Bathrooms,2 Balconies,NaN,"Palam Vihar, Gurgaon, Haryana",2 Floors,South-East,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",66 sq yard corner house available for sale in ...,"['2 Wardrobe', '3 Fan', '1 Exhaust Fan', '3 Ge...","['No open drainage around', 'Visitor Parking',...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
228,4 Bedroom House for sale in Sector 8 Gurgaon,NaN,82 Lac,"₹ 9,111/sq.ft.",(84 sq.m.) Plot Area,Plot area 100(83.61 sq.m.),4 Bedrooms,3 Bathrooms,3 Balconies,NaN,"539/28, Sector 8 Gurgaon, Gurgaon, Haryana",2 Floors,North,5 to 10 Year Old,"['Satyam Hospital Gurgaon', 'Tirath Ram Hospit...",This property is in old gurgaons heart. No iss...,"['3 Wardrobe', '1 Exhaust Fan', '1 Modular Kit...","['Feng Shui / Vaastu Compliant', 'Water Storage']","['Environment4 out of 5', 'Lifestyle4 out of 5..."
820,4 Bedroom House for sale in Sector 70A Gurgaon,Bptp Visionnaire,5.4 Crore,"₹ 20,690/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),4 Bedrooms,5 Bathrooms,3+ Balconies,"Pooja Room,Store Room,Study Room,Servant Room","290 Sqyd Duplex Villa, Sector 70A Gurgaon, Gur...",3 Floors,North,1 to 5 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...","Bptp duplex villa 290 sqyd plot size, private ...","['5 Wardrobe', '1 Water Purifier', '6 Geyser',...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
291,5 Bedroom House for sale in Laxman Vihar,NaN,50 Lac,"₹ 10,482/sq.ft.",(44 sq.m.) Built-up Area,Built Up area: 53 (44.31 sq.m.),5 Bedrooms,3 Bathrooms,No Balcony,NaN,"Laxman Vihar, Sector 3a, Laxman Vihar, Gurgaon...",1 Floors,NaN,undefined,NaN,5bhk residential house for resale in laxman vi...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."

# price

In [31]:
df['price'].isnull().sum()

127

In [32]:
df['price'].value_counts()

price
3.5 Crore           19
5.5 Crore           17
6.5 Crore           16
6 Crore             14
8 Crore             13
5 Crore             13
4.5 Crore           13
50 Lac              13
70 Lac              13
75 Lac              13
85 Lac              12
2.5 Crore           12
8.5 Crore           12
7 Crore             12
4 Crore             11
1.5 Crore           11
60 Lac              10
45 Lac              10
Price on Request    10
90 Lac              10
10 Crore            10
9 Crore             10
2.25 Crore          10
80 Lac               9
1.7 Crore            9
9.5 Crore            9
1.1 Crore            9
12 Crore             9
2 Crore              9
1.6 Crore            8
4.6 Crore            8
1 Crore              8
6.75 Crore           8
11 Crore             8
3.75 Crore           8
1.2 Crore            7
2.1 Crore            7
1.3 Crore            7
65 Lac               7
95 Lac               7
55 Lac               7
40 Lac               7
1.35 Crore           7
12.5 Crore           7
1.45 Crore           6
2.95 Crore           6
7.5 Crore            6
5.7 Crore            6
4.25 Crore           6
3.25 Crore           6
13.5 Crore           6
5.6 Crore            6
2.75 Crore           6
6.25 Crore           6
1.15 Crore           6
7.25 Crore           6
10.5 Crore           6
16 Crore             6
3.6 Crore            6
35 Lac               5
5.75 Crore           5
4.75 Crore           5
15 Crore             5
2.8 Crore            5
3 Crore              5
17 Crore             5
1.25 Crore           5
1.8 Crore            5
38 Lac               5
8.25 Crore           5
9.25 Crore           4
18 Crore             4
4.35 Crore           4
2.4 Crore            4
42 Lac               4
1.65 Crore           4
4.7 Crore            4
37 Lac               4
5.25 Crore           4
1.4 Crore            4
13 Crore             4
8.4 Crore            4
6.8 Crore            4
11.5 Crore           4
3.2 Crore            4
5.8 Crore            4
3.3 Crore            4
62 Lac               3
7.2 Crore            3
49 Lac               3
3.85 Crore           3
4.45 Crore           3
82 Lac               3
3.55 Crore           3
1.16 Crore           3
2.3 Crore            3
1.9 Crore            3
34 Lac               3
1.55 Crore           3
20 Crore             3
2.2 Crore            3
3.1 Crore            3
5.65 Crore           3
2.9 Crore            3
1.95 Crore           3
5.15 Crore           3
92 Lac               3
6.4 Crore            3
1.85 Crore           3
2.55 Crore           3
4.3 Crore            3
7.35 Crore           3
19 Crore             3
6.95 Crore           3
3.4 Crore            3
32 Lac               3
4.95 Crore           2
58 Lac               2
58.25 Lac            2
14 Crore             2
2.15 Crore           2
9.9 Crore            2
89 Lac               2
1.05 Crore           2
3.51 Crore           2
3.15 Crore           2
3.35 Crore           2
8.49 Crore           2
10.85 Crore          2
5.4 Crore            2
11.95 Crore          2
36 Lac               2
3.65 Crore           2
26 Crore             2
10.55 Crore          2
3.05 Crore           2
7.1 Crore            2
6.3 Crore            2
11.25 Crore          2
15.5 Crore           2
48 Lac               2
11.75 Crore          2
67 Lac               2
19.5 Crore           2
10.45 Crore          2
1.75 Crore           2
7.99 Crore           2
30 Lac               2
66 Lac               2
10.3 Crore           1
2.47 Crore           1
3.7 Crore            1
7.3 Crore            1
4.15 Crore           1
18.4 Crore           1
22 Crore             1
6.15 Crore           1
4.4 Crore            1
8.45 Crore           1
46.75 Lac            1
9.4 Crore            1
18.5 Crore           1
12.25 Crore          1
27.5 Crore           1
52.75 Lac            1
5.88 Crore           1
8.31 Crore           1
6.21 Crore           1
2.01 Crore           1
3.9 Crore            1
5.1 Crore            1
1.83 Crore           1
99 Lac               1
2.45 Crore           1
2.65 Crore           1
1.18 Crore           1
9.01 Crore           1
9.8 Crore            1
4.99 Crore           1
8.6 Crore            1
9.55 Crore           1
2.35 Crore           1
18.25 Crore          1
5.3 Crore            1
10.8 Crore           1
31.5 Crore           1
4.1 Crore            1
7.65 Crore           1
6.46 Crore           1
6.44 Crore           1
7.8 Crore            1
3.8 Crore            1
7.45 Crore           1
7.42 Crore           1
6.09 Crore           1
15.1 Crore           1
9.85 Crore           1
1.27 Crore           1
1.04 Crore           1
11.29 Crore          1
4.31 Crore           1
11.58 Crore          1
8.48 Crore           1
8.2 Crore            1
5.51 Crore           1
3.49 Crore           1
2.99 Crore           1
9.19 Crore           1
1.64 Crore           1
9.35 Crore           1
4.05 Crore           1
8.75 Crore           1
23 Crore             1
8.9 Crore            1
7.85 Crore           1
25 Crore             1
2.68 Crore           1
2.7 Crore            1
4.49 Crore           1
65.8 Lac             1
8.81 Crore           1
55.11 Lac            1
7.5 Lac              1
2.58 Crore           1
8.95 Crore           1
13.2 Crore           1
51 Lac               1
53 Lac               1
63 Lac               1
1.72 Crore           1
78 Lac               1
1.52 Crore           1
5.46 Crore           1
52 Lac               1
10.56 Crore          1
4.65 Crore           1
6.1 Crore            1
68 Lac               1
1.07 Crore           1
3.12 Crore           1
7.49 Crore           1
6.81 Crore           1
22 Lac               1
7.05 Crore           1
3.69 Crore           1
11.3 Crore           1
4.02 Crore           1
6.6 Crore            1
5.35 Crore           1
5.85 Crore           1
5.9 Crore            1
6.2 Crore            1
3.93 Crore           1
8.7 Crore            1
7.69 Crore           1
15.5 Lac             1
8.8 Crore            1
4.12 Crore           1
1.87 Crore           1
12.39 Crore          1
7.6 Crore            1
5.2 Crore            1
42.75 Lac            1
47 Lac               1
61 Lac               1
1.34 Crore           1
46 Lac               1
2.6 Crore            1
3.87 Crore           1
1.39 Crore           1
59 Lac               1
27 Lac               1
8.1 Crore            1
14.75 Crore          1
9.54 Crore           1
17.3 Crore           1
18.9 Crore           1
24 Crore             1
7.46 Crore           1
59.95 Lac            1
3.99 Crore           1
18.02 Crore          1
10.75 Crore          1
96 Lac               1
24 Lac               1
71 Lac               1
52.5 Lac             1
1.44 Crore           1
3.71 Crore           1
18 Lac               1
3.08 Crore           1
29 Lac               1
44 Lac               1
13 Lac               1
83 Lac               1
98 Lac               1
47.5 Lac             1
3.09 Crore           1
74 Lac               1
69 Lac               1
2.43 Crore           1
2.98 Crore           1
Name: count, dtype: int64

In [38]:
df = df[~((df['price']=='Price on Request') | (df['price'].isnull()))]

In [39]:
df.shape

(958, 19)

In [43]:
def handling_price(price):
    parts = price.split() 
    value = float(parts[0])
    type = parts[1]
    if type == 'Lac':
        return round(value/100,2)

    else:
        return round(value,2)

In [46]:
df['price'] = df['price'].apply(handling_price)

# Society

In [48]:
df['society'].value_counts()

society
Vipul Tatvam Villa                                   21
International City by SOBHA Phase 2                  19
International City by Sobha Phase 1                  15
Emaar MGF Marbella                                   13
DLF City Plots                                       11
DLF City Plots Phase 2                               11
Unitech Espace                                       10
Unitech Uniworld Resorts                             10
Bptp Visionnaire                                      9
Uppal Southend4.0 ★                                   8
Eldeco Mansionz                                       6
Not Applicable                                        6
Ansals Palam Vihar                                    6
Sushant Lok 1 Builder Floors                          6
DLF City Phase 1                                      5
Vatika India Next4.1 ★                                4
Experion Windchants3.8 ★                              4
DLF New Town Heights 24.0 ★                           4
Ansal Sushant Lok Plots4.1 ★                          4
Unitech Aspen Greens                                  4
nul                                                   4
Eros Rosewood City4.0 ★                               3
SS Aaron Ville                                        3
Housing Board Colony                                  3
Rattan Garden                                         3
Palam Vihar Extension West Zone RWA                   3
Sector 14 RWA                                         3
Vatika Signature Villas                               3
Eros Rosewood Villas                                  3
Malibu Towne                                          3
Luxury DLF City Floors                                3
Ansals Florence Villa                                 3
Unitech Nirvana Birch Court                           3
BPTP Astaire Gardens3.7 ★                             3
DLF City Plots Phase 3                                3
BPTP Pedestal                                         2
IFFCO Nagar and 17B RWA                               2
Bhim Garh Kheri                                       2
Ardee City3.8 ★                                       2
Sector 38 RWA                                         2
RWA Sector 46                                         2
Tata Primanti4.1 ★                                    2
Unitech Escape3.8 ★                                   2
Project Housing Board Colony                          2
Satya The Hermitage3.5 ★                              2
Hans Enclave                                          2
Suncity Township4.1 ★                                 2
SS Hibiscus                                           2
Emaar The Palm Springs                                2
Nirvana Cedar Crest                                   2
Unitech Palms South City 1                            2
Silverglades Tarudhan Valley Golf Resort              2
Project Mianwali Colony                               2
shivpuri                                              2
Suncity Essel Towers4.2 ★                             2
Spaze Privy3.9 ★                                      2
Ansal API Esencia3.7 ★                                2
Unitech Deerwood Chase                                2
DLF New Town Heights3.7 ★                             2
Ansal API Spanish Court                               1
HUDA Ashok Vihar Phase 13.9 ★                         1
Emaar Emerald Hills4.1 ★                              1
4S Aradhya Homes                                      1
Ashok Vihar Phase 3 Gurgaon                           1
Ireo Victory Valley4.1 ★                              1
Ansal Florence Super                                  1
Smart World Orchard                                   1
Unitech South City 23.8 ★                             1
private house                                         1
Central Park Flower Valley Cerise Floors              1
Farrukhnagar                                          1
DLF Floors Phase 3                                    1
Birla Navya                                           1
Kothi                                                 1
Prem Kunj                                             1
secter 16a daultabad faridabad house no 313           1
DLF City Plots Phase 4                                1
nirvana country                                       1
Landmark House                                        1
rajendra park sec 105                                 1
cloudnine cottages                                    1
u block dlf phase 3 road no 21                        1
Sector 15 Part 2 RWA                                  1
Nitin Vihar                                           1
Ansal                                                 1
Sector-17C                                            1
huda sector-56 gurgaon                                1
Ansal Sushant Residency                               1
FLOOR WISE DESIGNER KOTHI                             1
Huda Floor                                            1
Huda                                                  1
Grover Homes Sec 4                                    1
Sector 57 Huda                                        1
Saksham Welfare Association                           1
Godrej Meridien                                       1
Ansal Sushant Lok 2                                   1
The Laburnum                                          1
Vatika Independent Floors3.8 ★                        1
Arjun Marg/ Sector- 26 Phase- 1/ Golf Course Road     1
Central Park Flower Valley                            1
DLF Pink Town House4.0 ★                              1
Satya The Legend3.8 ★                                 1
DLF South City 1                                      1
sector 37                                             1
Bestech Park View Ananda4.2 ★                         1
Ireo Victory Valley4.0 ★                              1
Independent House Sector 45                           1
DLF Alameda                                           1
Puri Diplomatic Greens4.0 ★                           1
Vatika The Seven Lamps3.8 ★                           1
Nirvana Country                                       1
Ansal Sushant Lok                                     1
Central Park                                          1
Signature Global City 81                              1
Signature Global City                                 1
Ashok vihar phase III Extension                       1
rattan vihar rajendra park                            1
DLF The Arbour                                        1
Anant Raj Estates                                     1
HUDA Plot Sector 38                                   1
Rajendra Park Gurgaon                                 1
mian wali                                             1
Shri Shyam Residency                                  1
Ansal Celebrity Homes                                 1
Laxmi Garden Sector-11                                1
HUDA Housing Board Colony4.1 ★                        1
Tulip Yellow                                          1
shree krishna homes                                   1
Smart World Gems                                      1
Ganpati Heights Apartment                             1
Hero Homes                                            1
Jacobpura Gurugram                                    1
Anand Garden, Sector-105                              1
DLF Gardencity Enclave                                1
RK Excelo                                             1
DLF The Grove                                         1
Surendra Homes Dayanand Colony                        1
house number B-34                                     1
ATS Tourmaline3.9 ★                                   1
Bhawani enclave                                       1
Vatika Sovereign Next                                 1
MANOHAR NAGAR                                         1
Anamika Enclave                                       1
bhim nagar, sector 6                                  1
Om Nagar, Sector-11                                   1
Huda Plots                                            1
DLF Garden City Floors                                1
ROW HOUSE                                             1
Madan puri                                            1
Signature Global City 63A                             1
jacob pura                                            1
Adani Brahma Samsara4.2 ★                             1
sneh vihar                                            1
Sheetla Enclave                                       1
Suncity Avenue 76                                     1
SS Omnia                                              1
Ansal Heights3.2 ★                                    1
Anshul                                                1
Sare Crescent Parc Royal Greens Phase 1               1
Ninex City                                            1
Vipul World3.9 ★                                      1
Greenopolis                                           1
Ansal Esencia Sovereign Floors                        1
Nirmal Enclave, Maruti Kunj Road                      1
mahavir pura                                          1
Indiabulls Centrum Park3.7 ★                          1
Sobha City                                            1
Raj Villas                                            1
Shivaji Nagar Residential                             1
Bhim Nagar Society                                    1
Signature Global Park4.0 ★                            1
Signature Global City 92                              1
DLF City Plot Phase 4                                 1
Sai Kripa Floors 5                                    1
My Home                                               1
Krishna Palace                                        1
Surat nagar phase 2                                   1
Huda Flats                                            1
Jacobpura                                             1
Naman Residency                                       1
Name: count, dtype: int64

In [49]:
df['society'] = df['society'].str.replace(r'\d+\.\d+\s*★', '', regex=True).str.strip()
df['society'] = df['society'].apply(lambda x : x.lower() if isinstance(x, str) else x)

# rate column

In [58]:
df.rename(columns={'rate':'price_per_sqft'},inplace = True)

In [59]:
df.shape

(945, 19)

In [60]:
df.sample(5)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
1003,4 Bedroom House for sale in Sector 66 Gurgaon,emaar mgf marbella,9.00,"₹ 21,251/sq.ft.",(521 sq.m.) Plot Area,Plot area 5605(520.72 sq.m.)Built Up area: 520...,4 Bedrooms,4 Bathrooms,3+ Balconies,"Pooja Room,Servant Room,Store Room","Sector 66 Gurgaon, Gurgaon, Haryana",NaN,South-West,1 to 5 Year Old,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...",A lifestyle designed to satiate all your sense...,"['1 Water Purifier', '6 Fan', '1 Exhaust Fan',...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment3 out of 5', 'Safety4 out of 5', ..."
34,2 Bedroom House for sale in Sector 7 Gurgaon,NaN,1.95,"₹ 13,542/sq.ft.",(134 sq.m.) Plot Area,Plot area 160(133.78 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,NaN,"Sector 7 Gurgaon, Gurgaon, Haryana",2 Floors,NaN,10+ Year Old,"['State bank ATM', 'Dr. Madan Clinic', 'Taneja...",Its a very well build up property \nIts a 2 st...,"['5 Fan', '1 Light', 'No AC', 'No Bed', 'No Ch...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
230,4 Bedroom House for sale in Maruti Kunj,NaN,0.70,"₹ 4,117/sq.ft.",(158 sq.m.) Plot Area,Plot area 1700(157.94 sq.m.),4 Bedrooms,4 Bathrooms,1 Balcony,NaN,"Maruti Kunj, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,Interested to sell independent house/villa.It ...,[],NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
712,5 Bedroom House for sale in Sector 109 Gurgaon,international city by sobha phase 2,7.00,"₹ 11,240/sq.ft.",(579 sq.m.) Plot Area,Plot area 692(578.6 sq.m.),5 Bedrooms,5 Bathrooms,3+ Balconies,Servant Room,"Sector 109 Gurgaon, Gurgaon, Haryana",2 Floors,South,1 to 5 Year Old,"['Dwarka Sector 21 Metro Station', 'Pacific D2...",Sobha international city phase 1\nUpper duplex...,"['1 Exhaust Fan', '5 Geyser', '7 AC', 'No Bed'...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
853,5 Bedroom House for sale in Nirvana Country,unitech espace,11.29,"₹ 34,846/sq.ft.",(301 sq.m.) Plot Area,Plot area 360(301.01 sq.m.),5 Bedrooms,5 Bathrooms,3+ Balconies,"Study Room,Pooja Room","Nirvana Country, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,"['Radhakrishna Shani Mandir', 'Sri Radhe Krish...",Urgent for sale villa\nConfirm deal\nNice loca...,"['7 Fan', '8 Light', '4 AC', 'No Bed', 'No Chi...","['Maintenance Staff', 'Water Storage', 'Fitnes...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [69]:
df['price_per_sqft'] = df['price_per_sqft'].str.split(' ').str.get(1).str.split('/').str.get(0).str.strip().str.replace(',','').astype(float)

In [70]:
df['area'] = df['price']*10000000/df['price_per_sqft']

In [71]:
df.sample(5)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
983,4 Bedroom House for sale in Sector 4 Gurgaon,NaN,2.35,16319.0,1440.039218,Plot area 160(133.78 sq.m.),4 Bedrooms,4 Bathrooms,2 Balconies,Pooja Room,"Sector 4 Gurgaon, Gurgaon, Haryana",2 Floors,East,10+ Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Kr D...",160 sq yd independent house 2 side open in sec...,"['3 Wardrobe', '5 Fan', '14 Light', 'No AC', '...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Safety5 out of 5', ..."
257,5 Bedroom House for sale in Madanpuri,NaN,1.15,8518.0,1350.082179,Plot area 150(125.42 sq.m.),5 Bedrooms,3 Bathrooms,2 Balconies,Pooja Room,"Madanpuri, Gurgaon, Haryana",2 Floors,North-East,10+ Year Old,"['Dev Man Kathuria Clinic', 'Dr. Madan Clinic'...",Wishing to settle down in an individual house ...,NaN,"['Water Storage', 'Park', 'Waste Disposal']","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1072,6 Bedroom House for sale in Sector 17 Gurgaon,iffco nagar and 17b rwa,2.98,20566.0,1448.993484,Plot area 161(134.62 sq.m.),6 Bedrooms,6 Bathrooms,3+ Balconies,"Pooja Room,Study Room","Iffco Chowk, Sector 17 Gurgaon, Gurgaon, Haryana",3 Floors,East,1 to 5 Year Old,"['Iffco chowk metro station', 'Mg road metro s...",Available very good residential property for s...,[],"['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Safety5 out of 5', ..."
534,2 Bedroom House for sale in Sector 31 Gurgaon,project housing board colony,8.00,63492.0,1260.001260,Built Up area: 140 (117.06 sq.m.),2 Bedrooms,1 Bathroom,No Balcony,NaN,"Sector 31, Sector 31 Gurgaon, Gurgaon, Haryana",1 Floors,NaN,undefined,"['Rajiv Chowk Mosque', 'Icici bank ATM', 'Stat...",2bhk residential house for resale in project h...,"['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5..."
900,12 Bedroom House for sale in Sector 40 Gurgaon,independent house sector 45,9.00,38022.0,2367.050655,Plot area 2367(219.9 sq.m.)Built Up area: 9000...,12 Bedrooms,12 Bathrooms,3 Balconies,Servant Room,"Adjoining 30mtr Road Building On Sale, Sector ...",4 Floors,North-West,0 to 1 Year Old,"['Huda city centre metro station', 'Axis bank ...",12bhk independent floorwise building on sale a...,"['3 Wardrobe', '8 Fan', '1 Exhaust Fan', '5 Ge...","['Security / Fire Alarm', 'Private Garden / Te...","['Environment4 out of 5', 'Safety4 out of 5', ..."

# bedroom, bathroom and balcony column

In [72]:
df['bedRoom'].value_counts()

bedRoom
4 Bedrooms     230
5 Bedrooms     183
3 Bedrooms     146
2 Bedrooms      87
6 Bedrooms      80
9 Bedrooms      44
1 Bedroom       38
8 Bedrooms      33
7 Bedrooms      30
12 Bedrooms     27
10 Bedrooms     21
16 Bedrooms     11
13 Bedrooms      4
18 Bedrooms      2
19 Bedrooms      2
11 Bedrooms      2
20 Bedrooms      1
21 Bedrooms      1
36 Bedrooms      1
34 Bedrooms      1
14 Bedrooms      1
Name: count, dtype: int64

In [73]:
df['bedRoom'].isnull().sum()

0

In [76]:
df['bedRoom'] = df['bedRoom'].str.split().str.get(0).astype(int)

In [77]:
df['bathroom'].isnull().sum()

0

In [78]:
df['bathroom'].value_counts()

bathroom
4 Bathrooms     225
3 Bathrooms     164
5 Bathrooms     132
2 Bathrooms     112
6 Bathrooms      82
1 Bathroom       64
9 Bathrooms      41
7 Bathrooms      37
8 Bathrooms      26
12 Bathrooms     21
10 Bathrooms     11
16 Bathrooms      7
18 Bathrooms      4
13 Bathrooms      4
11 Bathrooms      4
20 Bathrooms      3
17 Bathrooms      3
14 Bathrooms      2
21 Bathrooms      1
36 Bathrooms      1
34 Bathrooms      1
Name: count, dtype: int64

In [80]:
df['bathroom'] = df['bathroom'].str.split().str.get(0).astype(int)

In [82]:
df['balcony'].isnull().sum()

0

In [83]:
df['balcony'].value_counts()

balcony
3+ Balconies    352
2 Balconies     217
3 Balconies     158
No Balcony      114
1 Balcony       104
Name: count, dtype: int64

In [87]:
df['balcony'] = df['balcony'].str.split().str.get(0).str.replace('No','0')

# additional room

In [89]:
df['additionalRoom'] = df['additionalRoom'].str.lower()
df['additionalRoom'] = df['additionalRoom'].fillna('not available')

# floor numbers

In [91]:
df.rename(columns = {"noOfFloor":"floorNum"},inplace = True)

In [92]:
df['floorNum'].isnull().sum()

19

In [93]:
df['floorNum'].value_counts()

floorNum
3 Floors     299
2 Floors     282
1 Floors     179
4 Floors     130
5 Floors       9
0 Floors       6
14 Floors      3
6 Floors       3
11 Floors      2
12 Floors      2
10 Floors      2
16 Floors      1
51 Floors      1
41 Floors      1
27 Floors      1
20 Floors      1
13 Floors      1
21 Floors      1
02 Floors      1
33 Floors      1
Name: count, dtype: int64

In [99]:
df['floorNum'] = df['floorNum'].str.split().str.get(0)

In [101]:
df['facing'].isnull().sum()

297

In [102]:
df['facing'].fillna('NA', inplace=True)

C:\Users\dhruv\AppData\Local\Temp\ipykernel_25452\3102712490.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['facing'].fillna('NA', inplace=True)

In [103]:
df.sample(5)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
981,3 Bedroom House for sale in Sector 4 Gurgaon,NaN,3.3,14667.0,2249.948865,Plot area 250(209.03 sq.m.),3,3,2,not available,"Sector 4 Gurgaon, Gurgaon, Haryana",1,North-East,10+ Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Kr D...",Very well-Maintained house is available at plo...,"['3 Wardrobe', '6 Fan', '20 Light', '1 Modular...","['False Ceiling Lighting', 'Water Storage', 'V...","['Environment5 out of 5', 'Safety5 out of 5', ..."
691,5 Bedroom House for sale in Mianwali Colony,NaN,1.5,11111.0,1350.013500,Plot area 150(125.42 sq.m.),5,5,2,not available,"Mianwali Colony, Gurgaon, Haryana",3,NA,10+ Year Old,"['Hanuman Mandir', 'Sheetla Mata Mandir', 'M G...",3 storey independent house for sale,[],"['Centrally Air Conditioned', 'Internet/wi-fi ...","['Environment3.5 out of 5', 'Lifestyle4 out of..."
951,4 Bedroom House for sale in Sector 66 Gurgaon,emaar mgf marbella,18.0,55556.0,3239.974080,Plot area 360(301.01 sq.m.),4,4,3+,"pooja room,study room,servant room","B10, Sector 66 Gurgaon, Gurgaon, Haryana",3,East,5 to 10 Year Old,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...",Check out this 4 bhk house for sale in sector ...,"['1 Water Purifier', '16 Fan', '1 Fridge', '1 ...","['High Ceiling Height', 'Maintenance Staff', '...","['Environment3 out of 5', 'Safety4 out of 5', ..."
473,6 Bedroom House for sale in Sector 50 Gurgaon,NaN,5.0,232.0,215517.241379,Plot area 2(1011.71 sq.m.),6,5,3+,"pooja room,study room,servant room,others","Sector 50 Gurgaon, Gurgaon, Haryana",2,NA,0 to 1 Year Old,"['Standard chartered ATM', 'Icici bank ATM', '...",This 6 bhk house for sale in sector 50 gurgaon...,"['1 Fan', '1 Exhaust Fan', '1 Dining Table', '...",NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5..."
1067,3 Bedroom House for sale in Sector 23A Gurgaon,NaN,1.2,6230.0,1926.163724,Plot area 214(178.93 sq.m.)Built Up area: 1500...,3,2,2,not available,"Sector 23, Sector 23A Gurgaon, Gurgaon, Haryana",3,NA,0 to 1 Year Old,"['HUDA Sector 23 Market', 'Palam triangle', 'P...",Property sale in huda sector 23a plot size 212...,"['5 Fan', '1 Exhaust Fan', '2 Geyser', '1 Micr...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Safety5 out of 5', ..."

In [104]:
df.insert(loc = 1, column = "property_type", value='house')

In [105]:
df.shape

(945, 20)

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 945 entries, 0 to 1090
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    945 non-null    object
 1   property_type    945 non-null    object
 2   society          383 non-null    object
 3   price            945 non-null    float64
 4   price_per_sqft   945 non-null    float64
 5   area             945 non-null    float64
 6   areaWithType     945 non-null    object
 7   bedRoom          945 non-null    int32
 8   bathroom         945 non-null    int32
 9   balcony          945 non-null    object
 10  additionalRoom   945 non-null    object
 11  address          940 non-null    object
 12  floorNum         926 non-null    object
 13  facing           945 non-null    object
 14  agePossession    945 non-null    object
 15  nearbyLocations  830 non-null    object
 16  description      945 non-null    object
 17  furnishDetails   715 non-null    object
 18  features         647 non-null    object
 19  rating           825 non-null    object
dtypes: float64(3), int32(2), object(15)
memory usage: 147.7+ KB

In [107]:
df.to_csv('cleaned_houses.csv')